<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main role="main">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">CRUD Project Management System</h1>
            <p class="lead font-weight-normal">A Java full stack application with all the CRUD operations on a MySQL database using VueJS as our Front end Framework and Spring Boot as our Back end REST API.</p>
            <a class="btn btn-outline-secondary" href="https://github.com/mihneacristian/Spring-Project-Management-App">GitHub</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

<div th:replace="fragments/page-title :: page-title ('An overly simplistic Project Management App')"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
                <div class="card-body">
                    <h5 class="card-title">Project Admin Page</h5>
                    <p class="card-text">Manage your team's projects.</p>
                    <a class="btn btn-primary" href="/projects">Projects</a>
                </div>
        </div>
        <div class="col-sm">
                <div class="card-body">
                    <h5 class="card-title">Item Admin Page</h5>
                    <p class="card-text">Manage your team's items.</p>
                    <a class="btn btn-primary" href="/items">Items</a>
                </div>
        </div>
        <div class="col-sm">
                <div class="card-body">
                    <h5 class="card-title">Members Admin Page</h5>
                    <p class="card-text">Manage team members.</p>
                    <a class="btn btn-primary" href="/members">Members</a>
                </div>
        </div>
    </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>